<div class="list-form-card">
  <h2>Add a new list</h2>
  <div class="list-form" >
    <%= simple_form_for(@list) do |f|%>
      <div class="list-form-inputs">
        <%= f.input :name %>
      </div>
      <div class="list-form-actions">
        <%= f.button :submit%>
      </div>
    <% end %>
  </div>

</div>
