.holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.book-card {
  border: 1px solid black;
}

.buttons-holder {
  width: 322px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.book-image {
  width: 322px;
  margin: 0 auto;
}

.absolutely {
  position: absolute;
}
