.holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bi-book-card {
  position: absolute;
  min-width: 400px;
  background-color: white;
  transition: transform 2s;
  padding: 1.6em;
  border-radius: 3%;
}

.buttons-holder {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 8px auto 0;
}

.but-button {
  width: 150px;
}

.book-image {
  width: 322px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* The animation code */
@keyframes reject {
  from  {opacity: 1;}
  to {opacity: 0;}
}

.rejected {
  transform: rotate(-20deg) translateX(-250%);
  animation-name: reject;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.accepted {
  transform: rotate(20deg) translateX(250%);
  animation-name: reject;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

