.holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.book-card {
  border: 1px solid black;
  position: absolute;
  transition: transform 2s;
}

.buttons-holder {
  width: 322px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.book-image {
  width: 322px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* The animation code */
@keyframes reject {
  from  {opacity: 1;}
  to {opacity: 0;}
}

.rejected {
  transform: rotate(-20deg) translateX(-250%);
  animation-name: reject;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

