.navbar-lewagon {
  justify-content: space-between;
  background: red;
  opacity: 0.7;
  padding: 15px;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  align-items: flex-end;
  flex-grow: 0;
}

.navbar-lewagon h2{
  color: white;
  font-weight: bold;
  font-size: 30px;

}

.navbar-lewagon img{
  width: 50px;
  height: 50px;
}

.navbar-lewagon .nav-item{
  padding-bottom: 0;
}
